#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* ===== FLOWER BACKGROUND (SMOOTH FLOW) ===== */
.flower-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.flower {
  position: absolute;
  top: -60px;
  font-size: 35px;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* POSISI + KECEPATAN + DELAY BEDA */
.flower:nth-child(1) { left: 10%; animation-duration: 5s; animation-delay: 0s; }
.flower:nth-child(2) { left: 30%; animation-duration: 5s; animation-delay: -4s; }
.flower:nth-child(3) { left: 50%; animation-duration: 5s; animation-delay: -8s; }
.flower:nth-child(4) { left: 70%; animation-duration: 5s; animation-delay: -6s; }
.flower:nth-child(5) { left: 90%; animation-duration: 5s; animation-delay: -10s; }

@keyframes fall {
  from {
    transform: translateY(-20vh);
  }
  to {
    transform: translateY(130vh);
  }
}

